<div class="callout callout-info no-subheader">
    <div class="header">
        <i class="icon-info"></i>
        <h3><?= trans('keios.pgneosurf::lang.info.header') ?></h3>
    </div>
    <div class="content">
        <ol>
            <li>Go to <a target="_blank" href="https://www.neosurf.com/en_GB/merchant/integration">https://www.neosurf.com/en_GB/merchant/integration</a> and make sure you are on Integration page.</li>
            <li>Scroll down until you see <b>NEOSURF MERCHANT KEY</b> section, copy the code in red and paste it into <b>Your Neosurf Secret Key</b> field below.</li>
            <li>From section <b>NEOSURF MECHANT SEND</b> copy <b>IDMerchant</b> code (usually 5 digits, in red) and paste it into <b>Neosurf Merchant ID</b> field below</li>
            <li>Enter <b>1</b> into Neosurf Service ID if your service is for all age groups and <b>2</b> if it's adults only.</li>
         </ol>
    </div>
</div>